select, label {
    display: block;
    max-width: 150px;
    min-width: 90px;
    margin: 0px 5px;
}

select {
    height: 25px;
    align-self: flex-end;
    text-align: left;
}

label {
    text-align: left;
}