.App {
  margin: 0 auto;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  width: 70%;
  padding: 10px;
}

.header-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chart-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.chart {
  width: 450px;
  margin: 5px;
}