.App {
  margin: 0 auto;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  /* width: 70%; */
}

.header-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
}

.chart-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.chart {
  width: 500px;
  margin: 5px;
}

button {
  align-self: flex-end;

  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 60px 2px 2px;

  border: solid 1px #9555af;
  border-radius: 4px;

  padding: 0.5em 1em;

  color: #ffffff;
  background-color: #9555af;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
}
